<h1 class='center'>Lewd Holtz</h1>
<h4 class='center'>"My ballsh have been dethlated for yearsh"</h4>
<div class='content'>
    <div class='form-container center'>
        <form id='tweet-form'>
            <div class="form-group">
                <textarea id='tweet-text' class='width80'></textarea>
            </div>
            <button type="submit" class="btn btn-default" id='tweet-submit'>Thweet it!</button>
        </form>
    </div>
</div>