<h1 id='lewd-header' class='center'>Lewd Holtz</h1>
<h4 class='center'>"My ballsh have been dethlated for yearsh"</h4>
<div class='container'>


    <div class='center'>
        <form id='tweet-form'>
            <div class="form-group">
                <textarea id='tweet-text'></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" id='tweet-submit'>Tweet it! 
                <span id=tweet-icon><i class="fa fa-twitter"></i></span>
                <span id="wait-icon no-show"><i class="fa fa-spinner fa-pulse"></i></span></button>
            </div>
            
        </form>
    </div>


</div>