<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/global/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/local/less/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/global/jquery/dist/jquery.js"></script>
    <script src="/local/js/client.js"></script>

</html>
